/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1531214159280-079b95d26139?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 54px;
}

.section {
  padding: 36px 0;
}

.section-description {
  color: var(--text-dark-color);
  text-align: left;
  padding: 20px 0;
}

.section-heading {
  font-family: var(--heading-font);
  font-size: 3rem;
}

.section-subheading {
  font-family: var(--text-font);
  font-size: 2rem;
}

/* Variables */
:root {
  --main-bg-color: white;
  --second-bg-color:  lightgrey;

  --text-font: "Inconsolata", monospace;
  --heading-font: "Montserrat", sans-serif;

  --text-dark-color: black;
  --text-light-color: white;
}

/* Welcome */
.welcome-outer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.welcome-navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  margin: 4px 8px;
  padding: 4px 8px;
  font-size: 24px;
  text-decoration: none;
  font-weight: 700;
  font-family: var(--heading-font);
  color: var(--text-dark-color);
  border: solid 8px var(--text-dark-color);
  border-radius: 248px 14px 224px 14px/14px 224px 14px 248px;
}

.welcome-headings {
  text-align: center;
  color: var(--text-dark-color);
  font-family: var(--heading-font);
}

.page-heading {
  font-size: 2.5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Skills */
.skills-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--main-bg-color);
  color: var(--text-dark-color);
  border: solid 8px var(--text-dark-color);
  border-radius: 248px 14px 224px 14px/14px 224px 14px 248px;
}

.skills-card-outer {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  text-align: left;
}

.card-icon {
  align-self: center;
  padding-left: 16px;
  padding-top: 12px;
  height: 80px;
  width: 80px;
  background-color: transparent;
  font-size: 40px;
  border: solid 8px var(--text-dark-color);
  border-radius: 248px 14px 224px 14px/14px 224px 14px 248px;
}

.card-title {
  margin: 20px 0;
  align-self: center;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  color: var(--text-dark-color);
}

.card-wording {
  font-size: 1.2rem;
  font-family: var(--text-font);
  color: var(--text-dark-color);
}

/* Projects */
.projects-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:
}

.projects-card-outer {
  margin: 20px 0;
  width: 46%;
  max-height: 340px;
  background: var(--main-bg-color);
  color: var(--text-dark-color);
  border: solid 8px var(--text-dark-color);
  border-radius: 248px 14px 224px 14px/14px 224px 14px 248px;
  overflow: hidden;
}

.projects-image {
  width: 110%;
  object-fit: cover;
  height: 120%;
  display: block 
}

/* Contact */
.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px;
  background: var(--main-bg-color);
  color: var(--text-dark-color);
  border: solid 8px;
  border-color: var(--text-dark-color);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
}

.contact-card-outer {
  display: flex;
  flex-direction: column;
}

.contact-image {
  height: 400px;
  filter: contrast(120%) saturate(0); 
}