/* Variables */
:root {
  --text-font: "Inconsolata", monospace;
  --heading-font: "Montserrat", sans-serif;

  --dark-color: #303030;
  --medium-color: #d3d3d3;
  --light-color: #fff;
  --orange-color: #cd6133;

  --border-radius: 248px 14px 224px 14px/14px 224px 14px 248px;
  --border: solid 8px var(--dark-color);
}

/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: var(--dark-color);
  font-family: var(--text-font);
  font-weight: 700;
  text-align: left;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 54px;
}

section {
  margin: 60px auto;
}

.section-description h2 {
  font-family: var(--heading-font);
  font-size: 3.5rem;
  padding: 16px;
}

.section-description h3 {
  font-size: 2rem;
  padding: 16px;
}

.btn {
  display: inline-block;
  min-height: 70px;
  margin: 12px;
  padding: 14px;
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-color);
  font-family: var(--text-font);
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--light-color);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover, .btn:active {
  background-color: var(--dark-color);
  color: var(--light-color);
}

/* Welcome */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

header div {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  font-family: var(--heading-font);
}

@keyframes heading-animation { 
  0% { opacity: 1; left: -800px; }
  100% { opacity: 1; left: -10px;}
}

.page-heading {
  font-size: 3.5rem;
  position: relative;
  animation: heading-animation 1s linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

h2.page-heading {
  animation-delay: 1s;
}

/* About */
.about-content {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 1.5rem;
}

.about-card-text, .about-card-image {
  width: 50%;
}

.about-card-image img {
  max-width: 100%;
  filter: grayscale(100%) contrast(170%);
}

/* Skills */
.skills-content {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--light-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.skills-card-outer {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-icon {
  align-self: center;
  padding-left: 16px;
  padding-top: 12px;
  height: 80px;
  width: 80px;
  background-color: transparent;
  font-size: 40px;  
  border: var(--border);
  border-radius: var(--border-radius);
}

.skills-card-outer h4 {
  margin: 20px 0;
  align-self: center;
  font-family: var(--heading-font);
  font-size: 1.5rem;
}

.skills-card-outer p {
  font-size: 1.5rem;
}

/* Projects */
.projects-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-card-outer {
  position: relative;
  margin: 20px 0;
  width: 46%;
  background: var(--light-color);
  border: solid 8px var(--orange-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  display: block;
}

.projects-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.projects-card-text {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.projects-card-text h4 {
  font-size: 1.8rem;
}

.projects-card-text p {
  font-size: 1.5rem;
  margin-top: 15px;
}

.projects-card-outer:hover .projects-card-text {
  opacity: 1;
}

/* Contact */
.contact-content {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: var(--light-color);
  border: var(--border);
  border-radius: var(--border-radius);
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

form div {
  align-self: center;
}

input, textarea {
  display: block;
  border: none;
  border-bottom: 3px solid var(--dark-color);
  width: 100%;
  font-size: 1.5rem;
  margin: 10px 0;
  color: var(--orange-color);
}

input {
  height: 30px;
  font-family: var(--text-font);
}

textarea {
  resize: vertical;
}

::placeholder {
  color: var(--light-color);
}

/* Footer */
footer {
  padding: 20px 0;
  margin: 0;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 0;
  padding: 10px;
  transition: transform 1s linear;
}

footer i {
  font-size: 30px;
  text-align: center;
  padding: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--dark-color);
  color: var(--light-color);
}

footer i:hover {
  transform: scale(1.4);
}

/* Media */
@media (max-width: 600px) {

  /* Global */
  .wrapper {
    animation: none;
    background: none;
  }

  .container {
    padding: 0 20px;
  }

  section {
    background-color: var(--medium-color);
    margin: 0 auto;
    padding: 10px 0;
  }

  .section-description h2 {
    font-size: 2.5rem;
  }

  .section-description h3 {
    font-size: 1.5em;
  }

  /* Welcome */
 header {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 270% 100%;
  }

  nav {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav .btn {
    width: 45%;
    margin: 4px auto;
    padding: 4px;
  }

  header div {
    margin: 4px auto;
  }

  .page-heading {
    font-size: 1.5rem;
    opacity: 1;
    animation: none;
  }

  p.page-heading {
    animation: none;
  }

  /* About */
  .about-content {
    flex-direction: column;
  }

  .about-card-text {
    order: 2;
    width: 100%;
  }
  .about-card-image {
    order: 1;
    width: 100%;
  } 

  /* Skills */
  .skills-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .skills-card-outer {
    width: 100%;
    padding: 20px 5px;
  }

  /* Projects */
  .projects-content {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .projects-card-outer {
    width: 100%;
  }

  .projects-card-text{
    opacity: 1;
    position: static;
  }

  /* Footer */
  footer {
    background-color: var(--orange-color);
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  /* Global */
  .wrapper {
    animation: none;
    background: none;
  }

  section {
    background-color: var(--medium-color);
    margin: 0 auto;
    padding: 10px 0;
  }

  /* Welcome */
  header {
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200% 100%;
  }

  .page-heading {
    font-size: 3rem;
    opacity: 1;
    animation: none;
  }

  p.page-heading {
    animation: none;
  }
  
  /* Projects */
  .projects-content {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .projects-card-outer {
    width: 80%;
  }

  .projects-card-text {
    opacity: 1;
    position: static;
  }

  /* Footer */
  footer {
    background-color: var(--orange-color);
    margin: 0 auto;
  }
}
